@font-face {
  font-family: 'Calypso';
  src: url('@/fonts/Calypso.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lack';
  src: url('@/fonts/lack-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 