:root {
  --color-pink: #d8949c;
  --color-light-pink: #dbb6b3;
  --color-cream: #ede5ce;
  --color-olive: #9d9a6c;
  --color-brown: #756356;
  --color-input-bg: #f9f1f2;
  --color-input-border: #cac5b0;
  --color-btn-main: #f6dfe3;
  --color-btn-hover: #cac5b0;
} 